<form [formGroup]="input">
  <div class="mb-3">
    <label class="form-label"
      >Por questões de segurança, insira a sua password
    </label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword"
      formControlName="password"
      required
    />
  </div>
  <div class="button-container">
    <button type="submit" class="btn btn-primary" (click)="verifyPassword()">
      Confirmar
    </button>
    <button type="submit" class="btn btn-danger" (click)="exit()">
      Voltar à página inicial
    </button>
  </div>
</form>
