<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/images/imagem.ico">
  </link>
  <title>Área de Registo</title>
</head>

<body>
  <div class="log-form">
    <h2>Crie a sua conta</h2><img class="img_center" src="/images/imagem.png"></a>
    <%- include("./partials/warning") %>
      <form class="form1" action="/register" method="POST">
        <input type="text" title="fname" id="name" name="firstName" placeholder="Primeiro Nome" />
        <input type="text" title="lname" id="name" name="lastName" placeholder="Último Nome" />
        <input type="text" title="email" id="email" name="email" placeholder="Email" autocomplete="off" />
        <input type="password" title="pw" id="pw" name="password" placeholder="Password" autocomplete="off" required />
        <div class="container-quest">
          <button id="submit" type="submit" class="btn">Registar</button>
          <a class="a alracc" href="/login">Já tem conta? Faça login aqui</a>
        </div>
      </form>
  </div>
</body>

</html>