<app-header></app-header>
<button
  type="button"
  class="btn btn-primary"
  id="notification"
  (click)="back()"
>
  <div class="mdc-fab__ripple"></div>
  <span class="mdc-fab__label">Voltar</span>
</button>
<div class="chartspair">
  <div class="chartsleft">
    <iframe
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="640"
      height="480"
      src="https://charts.mongodb.com/charts-paw-vfzum/embed/charts?id=7edb7efc-112a-4ac0-81ca-64f9541e7e73&autoRefresh=300&theme=light"
    ></iframe>
  </div>
  <div class="chartsright">
    <iframe
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="640"
      height="480"
      src="https://charts.mongodb.com/charts-paw-vfzum/embed/charts?id=dc1bb048-516f-48e8-8ba8-c3f891f8e1a8&autoRefresh=300&theme=light"
    ></iframe>
  </div>
</div>
<div class="chartspair">
  <div class="chartsleft">
    <iframe
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="640"
      height="480"
      src="https://charts.mongodb.com/charts-paw-vfzum/embed/charts?id=000bb213-4425-42da-a7e3-2d89353207a9&theme=light"
    ></iframe>
  </div>
  <div class="chartsright">
    <iframe
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="640"
      height="480"
      src="https://charts.mongodb.com/charts-paw-vfzum/embed/charts?id=10a32b8e-a520-42b9-bfc2-c847d331f0e5&theme=light"
    ></iframe>
  </div>
</div>
