<app-header></app-header>
<div class="container">
  <div style="margin-top: 50px" >
    <button type="button"class="btn btn-primary" id="notification" routerLink="/mysavedevents" *ngIf="savedevents > 0">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__label">{{ savedevents }}</span>
      <span> Eventos Não Publicados</span>
    </button>
    <table class="table table-borderless" *ngIf="myevents.length > 0 && publishedevents > 0">
      <thead>
        <tr>
          <th style="width: 80%" scope="col">Event</th>
          <th style="width: 20%" scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let event of myevents">
        <tr *ngIf="event.published === true">
          <td>
            <div class="imagecontainer">
            <img
              class="imageEvent"
              src="{{ event.imagem }}"
            /> </div>
            <h2>{{ event.name }}</h2>
            <p>{{ event.date }}</p>
            <p>{{ event.description }}</p>
            <p>{{ event.location.address }}, {{ event.location.name }}</p>
            <p class="alert_p">Teste Covid - Necessário</p>
            <p class="alert_p">Lotação máxima : {{ event.capacity }}</p>
            <b>Preço por bilhete : {{ event.ticketPrice }} &euro;</b>
          </td>
          <td>
            <div class="button-container">
              <div class="visibility">
                <a mat-mini-fab color="primary" routerLink="/moreinfo/{{ event._id }}">
                  <mat-icon>visibility</mat-icon>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="container-sm justify-content-center text-center"
      *ngIf="myevents.length == 0"
    >
      <h1 class="display-1">Não tem eventos criados por si!</h1>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span></span>
      </div>
    </div>
  </div>
</div>
